<h3 class="heading">Results</h3>
<div ng-repeat="season in matchData.matches | orderBy:'-'">
	<ul class="list-group" ng-repeat="round in season.rounds | orderBy:'+':true">
  		<li class="list-group-item">
  			<div class="roundName">
  				{{round.name}}<br><hr>
  			</div>
  			<div ng-repeat="match in round.matches | orderBy:'-date'">
  				<div class="date">{{matchData.dateChecker(match.date) | date : "EEEE d MMMM yyyy"}}</div>
  			<div class="row scoreRow">
  				<div class="col-5 team1">{{match.team1.name}} <img ng-src="images\{{match.team1.name}}.png" class="teamLogo"></div>
  				<div class="col-1 scoreCol"><span class="score">{{match.score1}} - {{match.score2}}</span></div>
  				<div class="col-5 team2"><img ng-src="images\{{match.team2.name}}.png" class="teamLogo"> {{match.team2.name}}</div>
  			</div>  			
  			</div>
		</li> 
	</ul>
  </div>